//颜色
color_th = #fff
bg_th = rgb(34,34,37)
//字体
fonts_10 = 10px
fonts_12 = 12px
fonts_14 = 14px
fonts_16 = 16px
fonts_18 = 18px
fonts_22 = 22px


bg_image($url)
  background-image: url($url + ".png")
  background-size:100% 100%

// 不换行
no_wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend_click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px



   