//颜色
$color_th = rgb(45,45,45)
$color_ff = #fff
$color_66 = #666
$bg_th = rgb(34,34,37)
//字体
$fonts_10 = 10px
$fonts_12 = 12px
$fonts_14 = 14px
$fonts_16 = 16px
$fonts_18 = 18px
$fonts_22 = 22px

font_s($num)
  font-size:$num


bg_image($url)
  background-image: url($url + ".png")
  background-size:100% 100%
lh($num)
  line-height:$num

// 不换行
no_wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend_click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
none()
  display:none
dis_inb()
  display:inline-block
bs()
  box-sizing:border-box
pl($num) 
  padding-left:$num
pr($num)
  padding-right:$num
pt($num) 
  padding-top:$num
pb($num)
  padding-bottom:$num
pad($num)
  padding:$num
pad_($num1,$num2)
  padding:$num1 $num2



   